#container-listas {grid-area: listas;}
#container-titulo {grid-area: titulo;}
#anecdota {grid-area: anec;}

#container-principal {
    display: grid;
    grid-template-areas:
        "titulo titulo titulo"
        "listas listas listas"
        "anec anec anec"
    ;
}

main #disco{grid-area: disco;}
main #container-principal{grid-area: cp;}
main #banner{grid-area: banner}

main{
    display:grid;
    grid-template-areas:
    ' disco disco cp cp banner banner'
}
#disco-paris{
    height: 500px;
    width: auto;
}

#lista1 {grid-area: l1;}
#lista2 {grid-area: l2;}

#container-listas{
    display:grid;
    grid-template-areas: 'l1 l2';
}
#container-titulo{
    margin-top: 100px;
}