#container1{grid-area: cont1;}
#container2{grid-area: cont2;}

#main{
    display: grid;
    grid-template-areas: 'cont1 cont1 cont1 cont1 cont1 cont1 cont1 cont2';
}

/* #disc70{grid-area: sev;}
#disc80{grid-area: eig;}
#disc90{grid-area: nin;}
#discAct{grid-area: act;} */

#main #container1 section {
    display:grid;
    grid-template-columns: auto auto auto;
    
}
