header, footer, p{
    background-color: #FF6347;
}


article img{
    width: 360px;
    height: 360px;
    padding-left: 32%;
    margin-top: 15px;
}
aside img{
    width: 360px;
    height: 1024px;
    position: relative;
    padding-left: 18%;
    margin-right: 5%;
}
#logo{
    padding-left: 2%;
    padding-top: 2%;
}
p{
    text-align: center;
    margin-left: 32%;
    width: 360px;
}
article{
    align-items: center;
}