header, footer, p, ol, h2{
    background-color: #FF6347;
}

article img{
    width: 360px;
    height: 360px;
    padding-left: 32%;
    margin-top: 15px;
}
#banner{
    width: 360px;
    height: 1024px;
    position: relative;
    padding-left: 18%;
    margin-right: 5%;
}
#logo{
    padding-left: 2%;
    padding-top: 2%;
}
article p{
    text-align: center;
    margin-left: 32%;
    width: 360px;
}
ol{
    text-align: justify;
    padding:45px;
}
h2{
    text-align: center;
    margin-top: 12%;
}
article{
    align-items: center;
}
#disco{
    margin-left: 150px;
    margin-top:150px;
    margin-right: 50px;
}

header img{grid-area:img}
header nav{grid-area: nav;}

header{
    display: grid;
    grid-template-areas: 
    'img img nav nav'
    ;
}

header nav select{
    margin-top: 50px;
    width: 33%;
    height: 25%;
    font-size:x-large;
}
